/* * {
    border: 1px solid #f00
} */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.main .home-page {
    padding: 16px;
}

.main .home-page h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.main .home-page p {
    font-size: 18px;
    text-align: center;
    color: white;
}

.main .home-page p a {
    color: #4c6fa7;
}
